#cloud-config

# Guacamole server cloud config

output:
    init:
        output: "> /var/log/cloud-init.out"
        error: "> /var/log/cloud-init.err"
    config: "tee -a /var/log/cloud-config.log"
    final:
        - ">> /var/log/cloud-final.out"
        - "/var/log/cloud-final.err"

package_update: true
package_upgrade: true

packages:
- docker.io

runcmd:
  - docker pull guacamole/guacamole
  - docker pull guacamole/guacd
  - docker run --name stratoguacd -d guacamole/guacd
  - docker run --name stratoguacsrv --link stratoguacd:guacd -e MYSQL_HOSTNAME=${db_ip} -e MYSQL_PORT=3306 -e MYSQL_DATABASE=guacamole_db -e MYSQL_USER=${db_user} -e MYSQL_PASSWORD=${db_password} -d -p 8080:8080 guacamole/guacamole

