# Sample tfvars file 
# omit .sample from extension before applying 


# AWS Credentials

aws_access_key = ""
aws_secret_key = ""

# Database information

db_user = "stratoadmin"
db_password = "Stratoscale2018!"


# AMI Values and instance types 
# Use Public Ubuntu Server 16.04 LTS (Xenial) cloud image ami
# For list of official AMI's see: https://cloud-images.ubuntu.com/locator/ec2/
#
# Quick reference:
# us-east-1: ami-a4dc46db
# us-east-2: ami-6a003c0f
# eu-west-1: ami-58d7e821

guacsrv_ami = ""
guacsrv_instance_type = "t2.medium"
# For Guacamole server EC2 instance type, it's reccommended to have at least 1GB of RAM 

bastion_ami = ""
bastion_instance_type = "t2.medium"

# Key pair name for SSH 
user_keyname = ""







