#cloud-config

# Xenial Ubuntu test5

output:
    init:
        output: "> /var/log/cloud-init.out"
        error: "> /var/log/cloud-init.err"
    config: "tee -a /var/log/cloud-config.log"
    final:
        - ">> /var/log/cloud-final.out"
        - "/var/log/cloud-final.err"

        

package_update: true

package_upgrade: true

packages:
- docker.io

runcmd:
  - docker pull wordpress
  - docker run --name wpsite -e WORDPRESS_DB_HOST=${db_ip}:3306 -e WORDPRESS_DB_USER=${db_user} -e WORDPRESS_DB_PASSWORD=${db_password} -p 8080:80 -d wordpress
